In [1]:
#Q1. Create one variable containing following type of data:
name='Sneha'
l1=[1,2,3]
fl=49.27
my_tuple=(1,2,3)
print(type(name))
print(type(l1))
print(type(fl))
print(type(my_tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [4]:
#Q2. Given are some following variables containing data:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [5]:
#Q3. Explain the use of the following operators using an example:
a=15
b=2
print(a/b)#prints quotient
print(a%b)#prints remainder
print(a//b)#prints integer quotient 
print(a**b)#prints a pow(b)

7.5
1
7
225

In [10]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

l1=[1,2,'a','b','hello',(a,b),2.14, 1+4j,[1,2],'c']
for elements in l1:
    print("Element is" ,elements," Element type:",type(elements))

Element is 1  Element type: <class 'int'>
Element is 2  Element type: <class 'int'>
Element is a  Element type: <class 'str'>
Element is b  Element type: <class 'str'>
Element is hello  Element type: <class 'str'>
Element is (15, 2)  Element type: <class 'tuple'>
Element is 2.14  Element type: <class 'float'>
Element is (1+4j)  Element type: <class 'complex'>
Element is [1, 2]  Element type: <class 'list'>
Element is c  Element type: <class 'str'>

In [14]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

A=int(input())
B=int(input())
count=0
while(A>=B):
    A=A-B
    count=count+1
if A==0:
    print("A can be purely divided by B","in",count,"times")
else:
    print("Not purely divisible")

 30
 6

A can be purely divided by B in 5 times

In [16]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

numbers = [7, 12, 15, 21, 30, 33, 42, 50, 55, 60, 66, 70, 75, 80, 88, 90, 99, 100, 105, 110, 120, 130, 135, 140, 150]
for num in numbers:
    if num%3==0:
        print(num,"is divisible by 3")
    else:
        print(num,"is not divisible by 3")

7 is not divisible by 3
12 is divisible by 3
15 is divisible by 3
21 is divisible by 3
30 is divisible by 3
33 is divisible by 3
42 is divisible by 3
50 is not divisible by 3
55 is not divisible by 3
60 is divisible by 3
66 is divisible by 3
70 is not divisible by 3
75 is divisible by 3
80 is not divisible by 3
88 is not divisible by 3
90 is divisible by 3
99 is divisible by 3
100 is not divisible by 3
105 is divisible by 3
110 is not divisible by 3
120 is divisible by 3
130 is not divisible by 3
135 is divisible by 3
140 is not divisible by 3
150 is divisible by 3

In [19]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''

lis=[1,2,4]
print("original list:",lis)
lis[1]="sneha"
print("mutated list:",lis)
string="Hello ?"
print("original string:",string)
string[-1]="!"
print("String cannot be mutated")

#list and dictionaries are mutable & string and tuple are immutable

original list: [1, 2, 4]
mutated list: [1, 'sneha', 4]
original string: Hello ?

TypeError: 'str' object does not support item assignment